main {
	align-items: flex-start;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

section {
	text-align: center;
	width: 100%;
	margin-bottom: 10%;
}

.twogrid {
	align-items: flex-start;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

.twogrid > div {
	flex: 1 1 50%;
}